@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');


#calendar-container {
    background-color: #FFFFFF; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para diferenciar el contenedor */
    padding: 20px; /* Espaciado interno */
    margin: 20px auto; /* Centrar horizontalmente y agregar margen superior/inferior */
    max-width: 90%; /* Limitar el ancho máximo del contenedor */
    border: 1px solid #E0E0E0; /* Borde gris claro */
}

/* Ajustar el texto del encabezado del calendario */
.calendar-header {
    font-family: 'Anek Bangla', sans-serif; /* Fuente personalizada */
    font-size: 1.625rem; /* Tamaño de fuente */
    font-weight: 600; /* Peso de fuente semi-negrita */
    color: #000000; /* Color del texto */
    text-align: left; /* Centrar el texto */
    margin-bottom: 20px; /* Espaciado inferior */
}

/* Ajustar el calendario interno */
#calendar {
    margin-top: 20px; /* Espaciado superior dentro del contenedor */
}


.fc .fc-col-header-cell-cushion {
    font-weight: normal;
    font-size: 14px;
    color: #333;
    font-family: 'Anek Bangla', sans-serif;
    text-transform: capitalize;
    padding: 5px;
    text-align: center;
}

.fc .fc-col-header-cell {
    background-color: #D7D7FF;
}


.fc-timegrid-axis{
    padding: 1rem;
    margin: 30px;
    align-items: center;
    justify-content: center;
}

.calendar-actions {
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Alinea verticalmente los elementos */
    margin-bottom: 20px; /* Espaciado inferior */
}
/* Botones de acción */
.calendar-actions-left {
    display: flex;
    gap: 10px; /* Espaciado entre los botones */
}

.nav-button {
    background-color: #1d4ed8; /* Fondo azul oscuro */
    color: white; /* Texto blanco */
    border: none; /* Sin bordes */
    border-radius: 50%; /* Forma circular */
    width: 40px; /* Ancho del botón */
    height: 40px; /* Alto del botón */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s ease; /* Transición suave */
    font-size: 20px; /* Tamaño del ícono */
}

.nav-button:hover {
    background-color: #1e40af; /* Fondo azul más oscuro al pasar el mouse */
}

.calendar-actions-right {
    display: flex;
    gap: 10px; /* Espaciado entre los botones */
}
.calendar-filters {
    display: flex;
    gap: 10px; /* Espaciado entre los botones */
}

.calendar-actions .btn-edit,
.calendar-actions .btn-new {
    background-color: #e0e7ff; /* Fondo azul claro */
    color: #1d4ed8; /* Texto azul oscuro */
    border: none; /* Sin bordes */
    font-family: 'Anek Bangla', sans-serif; /* Fuente personalizada */
    padding: 8px 16px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}


.calendar-filters .btn-filter{
    border-bottom: 3px solid #e0e7ff; /* Sin bordes */
    border-top: none; /* Sin bordes */
    border-left: none; /* Sin bordes */
    border-right: none; /* Sin bordes */
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Anek Bangla', sans-serif; /* Fuente personalizada */
    max-width: 70px; /* Espaciado interno */
    min-width: 50px;
    cursor: pointer; /* Cursor de puntero */
    font-size: .9rem; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    transition: border-bottom 0.3s ease, color 0.3s ease; /* Transición suave */
}
.calendar-filters  .active{
    border-bottom: 3px solid #1d4ed8; /* Sin bordes */
   }
.btn-filter {
    border-bottom: 3px solid #e0e7ff; /* Sin bordes */
    border-top: none; /* Sin bordes */
    border-left: none; /* Sin bordes */
    border-right: none; /* Sin bordes */
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Anek Bangla', sans-serif; /* Fuente personalizada */
    max-width: 150px; /* Espaciado interno */
    min-width: 70px;
    cursor: pointer; /* Cursor de puntero */
    font-size: .9rem; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    transition: border-bottom 0.3s ease, color 0.3s ease; /* Transición suave */
}
.btn-filter:hover {
    border-bottom: 3px solid #1d4ed8; /* Sin bordes */
}
 .active{
    border-bottom: 3px solid #1d4ed8; /* Sin bordes */
   }

.calendar-actions .btn-new {
    background-color: #1d4ed8; 
    color: white; 
}

.calendar-actions .btn-new:hover {
    background-color: #1e3a8a; /* Fondo azul más oscuro al pasar el mouse */
}

/*Estilos Calendario*/
.fc-header-toolbar .fc-button{
    background-color: #1d4ed8 !important; 
    color: white  !important; 
    border: none !important;
}
.fc-header-toolbar .fc-button-active{
    background-color: white !important; 
    color:  #1d4ed8 !important; 
    border: #1d4ed8 1px solid !important;
    
}
.fc-header-toolbar button:hover{
    background-color: white !important; 
    color:  #1d4ed8 !important; 
    border: #1d4ed8 1px solid !important;
}
.fc-col-header-cell.fc-day{
    background-color: #1d4ed8 !important; 
    border: none !important;
}
.fc-col-header-cell.fc-day a{
    color: white  !important; 
}
.fc-day-today{
    background-color: rgba(29, 79, 216, 0.1) !important; 
}
.fc-day{ 
    border: rgba(29, 79, 216, 0.3) 1px solid !important; 
}
.fc-timegrid-slots  .fc-timegrid-slot-lane{
    border: rgba(29, 79, 216, 0.3) 1px solid !important; 
}
.fc-direction-ltr .fc-timegrid-slot-label-frame {
    background-color: #1d4ed8 !important; 
    color: white  !important; 
    border: none !important;
    text-align: left !important;
}
.fc-popover {
    background-color: white !important;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .fc-timegrid-slot {
    height: 50px !important;
  }

  .fc-timegrid-event-harness {
    height: auto !important;
  }
  

  .fc-timegrid-event {
    margin: 2px 0;
    min-height: 45px !important; /* Altura mínima para los eventos */
    max-height: none !important; /* Quitar altura máxima */
  }
  .fc-event {
    background-color: #4a90e2;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: .7rem;
    color: white;
  }
  

  .fc-event-title {
    font-weight: bold;
  }
  
 
  .fc-event.profesor-matematicas {
    background-color: #f39c12;
  }

#calendar-container {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 30px;
}

/*Estilos Modal Evento*/
.modalInformacion{
    position:fixed;
    width: 100%;
    height:100vh ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
    z-index:99 ;
   
}
.botonCerrar{
    position:absolute;
    top: 3%;
    right: 3%;
    backdrop-filter: blur(5px);
    z-index:101 ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;

}
.modalInformacion .infoContainer{
    position:relative;
    width: 60%;
    height:auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
    background-color: white;
    z-index: 100;
    padding: 5%;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.modalInformacion .infoContainer .botonesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.modalInformacion .infoContainer .botonesContainer button{
    background-color: #000099;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.modalInformacion .infoContainer .botonesContainer button:nth-child(1){
    background-color: #ff0000;
}
/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 60px;
        padding: 1rem;
    }

    .main-content {
        margin-left: 60px;
    }

    .logo h1 {
        font-size: 1.5rem;
    }

    .nav-menu span {
        display: none;
    }
} 


/* Estilos Formulario Horario*/
#horarioForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label {
    background-color: white;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: 500;
    color: #000099;
    flex:2
}
input{
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1rem;
    background-color: white;
    color: var(--text-color);
    flex: 5;
}
.InputContainers{
    display: flex;
}
