@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #0000CC;
    --secondary-color: #f5f6fa;
    --text-color: #333;
    --danger-color: #ff0000;
    --success-color: #00ff00;
    --warning-color: #ffff00;
    --sidebar-width: 250px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    width: var(--sidebar-width);
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
}
.logo{
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo h1 {
    font-size: 2.5rem;
    text-align: center;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.nav-menu ul li {
  display: flex;
  width: 100%;
  justify-content: center;
}
.hr{
    width: 100%;
    background-color: var(--secondary-color);
    height: 2px;
}
.nav-menu a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    transition: background-color 0.3s;
    padding: 15px 0px 15px 0px;
}

.nav-menu a:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 50px 0px 0px 50px;
    color: var(--text-color);
    
}

.nav-menu a.active {
    background-color: rgb(255, 255, 255);
    border-radius: 50px 0px 0px 50px;
    color: var(--text-color);
    
}

.logout {
   margin-top: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.logout a {
    color: white;
    display: flex;
    justify-content: center;
    gap: 15px;
    text-decoration: none;
    padding: 15px 0px 15px 0px;
    width: 100%;
}
.logout a:hover {
    background-color:var(--danger-color);
    color: var(--secondary-color);
    
}
/* Main Content Styles */
.main-content {
    flex: 1;
    margin-left: var(--sidebar-width);
    padding: 2rem;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
}

.notifications {
    position: relative;
}

.notification-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: var(--danger-color);
    color: white;
    border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
    height: 25px;
    width: 25px;
    font-size: 0.8rem;
}

/* Alert Cards Styles */
.alerts-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    padding: 30px;
    gap: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.alerts-container h2{
background-color: #0000CC;
padding: .5rem 1rem;
position: absolute;
font-size: medium;
top: -20px;
border-radius: 50px;
color: var(--secondary-color);
}

.alert-card {
    background: white;
    border-radius: 10px;
    padding: 1.5rem;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.alert-header {
   display: flex;
   justify-content: space-between;
}
.alert-animation {
   background-color: var(--danger-color);
   min-width: 250px;
   height: 130px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin:0rem  -1.5rem;
   overflow:hidden;
}

.alert-animation .material-symbols-rounded {
    font-size: 5rem;
    z-index: 100;
    color:var(--warning-color);
  font-variation-settings:
  'wght' 700,
  'GRAD' 200,
  'opsz' 24
}

.alert-animation .circle{
  background-color:rgba(255, 255, 255, 0.15);
  height: 5rem;
  border-radius: 50%;
  width: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: pulse 1s infinite;
}
.alert-animation .circle:nth-child(1) {
    width: 5rem;
    height: 5rem;
  }
  
  .alert-animation .circle:nth-child(2) {
    width: 7rem;
    height: 7rem;
    
  }
  
  .alert-animation .circle:nth-child(3) {
    width: 9rem;
    height: 9rem;
    
  }
  
  .alert-animation .circle:nth-child(4) {
    width: 11rem;
    height: 11rem;
    
  }
   
  @keyframes pulse {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0;
    }
  }
.alert-body h3{
   text-align: center;
   margin-bottom: 10px;
}
.alert-actions{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 2.5rem;
}
.alert-actions .btn-desactivar{
    background-color: rgb(233, 233, 233);
    color: var(--text-color);
    border: none;
    border-radius: 50px;
    font-weight: bold;
    padding: .5rem;
}
.alert-actions .btn-notificar{
    background-color: var(--danger-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 50px;
    font-weight: bold;
    padding: .5rem;
}

/* Statistics Section Styles */

.statistics{
    display: flex;
    gap: 1rem;
}
.stadisticswrapper{
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.stat-card {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-card p {
    font-size: 4rem;
    font-weight: bold;
  
}
.stat-card h3 {
    font-size: 1rem;
    padding: .5rem 2rem;
    position: absolute;
    top: -20px;
    left: 30px;
    border-radius: 50px;
    font-weight: bold;
}
.active-classrooms h3 {
    background-color: var(--success-color);
}
.empty-classrooms h3 {
    background-color:grey;
    color:var(--secondary-color);
}
.active-classrooms p {
    color: var(--success-color);
}
.empty-classrooms p{
    color:grey;
}

.chart-container {
    background: white;
    overflow: hidden;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.chart-container p {
    background:var(--primary-color);
    color: var(--secondary-color);
    margin: -1.5rem -1.5rem;
    padding: 1.5rem;
    text-align: center;
}

/* Recent Activity Styles */
.recent-activity {
    flex: 1;
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
 
}
.recent-activity .titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.recent-activity .titulo h3 {
    color: var(--primary-color);
}
.recent-activity .titulo .material-symbols-rounded {
    font-weight: 700;
    font-size: 5rem;
    color: var(--primary-color);

}

.activity-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.activity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(239, 239, 239);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
}
.info-section {
    flex: 5;
}
.details {
    display: flex;
    gap: 10px;
    font-size: .8rem;
    color: #333;
}

.notification-status-active{
    flex: 1;
    background-color: var(--success-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: -10px -10px;
    min-height: 90px;
    padding: 0px 10px;
    border: none;
}

.notification-status-active .material-symbols-outlined{
    font-size: 2rem; 
    color:var(--text-color);
}
.notification-status-active p{
    color: var(--text-color);
    font-size: .7rem;
}
.notification-status{
    flex: 1;
    background-color:grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: -10px -10px;
    min-height: 90px;
    padding: 0px 10px;
    border: none;
}
.notification-status .material-symbols-outlined{
    font-size: 2rem; 
    color:var(--secondary-color);
}
.notification-status p{
    color: var(--secondary-color);
    font-size: .7rem;
}

/* Graphs styles */
.graph-section{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 2fr));
    grid-template-rows: minmax(450px, 1fr);
    margin: 1.5rem;
}
.graph-section h3{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #040CA8;
    width: fit-content;
    padding: 0px 20px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px; 
    left: 20px;
}
.graph-container{
    position: relative;
    height: 415px;
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 60px;
        padding: 1rem;
    }

    .main-content {
        margin-left: 60px;
    }

    .logo h1 {
        font-size: 1.5rem;
    }

    .nav-menu span {
        display: none;
    }
} 
